{
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": "airbnb",
  "rules": {
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": ["warn", { "aspects": ["invalidHref"] }],
    "comma-dangle": ["error", "never"],
    "func-names": ["error", "never"],
    "consistent-return": 0,
    "no-param-reassign": 0
  },
  "plugins": ["html", "markdown"]
}
